<br/>
<h2 i18n="Subscriptions title" style="text-align: center; margin-bottom: 15px;">Your subscriptions</h2>
<mat-divider style="width: 80%; margin: 0 auto"></mat-divider><br/>

<h4 i18n="Subscriptions channels title" style="text-align: center;">Channels</h4>
<app-subscription-list 
  [subscriptions]="channel_subscriptions"
  emptyText="You have no channel subscriptions."
  (navigate)="goToSubscription($event)"
  (edit)="editSubscription($event)"
  (info)="showSubInfo($event)">
</app-subscription-list>

<h4 i18n="Subscriptions playlists title" style="text-align: center; margin-top: 10px;">Playlists</h4>
<app-subscription-list 
  [subscriptions]="playlist_subscriptions"
  emptyText="You have no playlist subscriptions."
  (navigate)="goToSubscription($event)"
  (edit)="editSubscription($event)"
  (info)="showSubInfo($event)">
</app-subscription-list>

<div style="margin: 0 auto; width: 80%" *ngIf="subscriptions_loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<button class="add-subscription-button" (click)="openSubscribeDialog()" matTooltip="Add subscription" i18n-matTooltip="Add subscription" mat-fab>
  <mat-icon>add</mat-icon>
</button>