<div [hidden]="!(dataSource?.data && dataSource.data.length > 0)">
  <div class="mat-elevation-z8" style="overflow: hidden;">
    <mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="Title">Title</mat-header-cell>
        <mat-cell *matCellDef="let task">
          <span class="one-line" [matTooltip]="task.title">{{task.title}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="last_ran">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="Last ran">Last ran</mat-header-cell>
        <mat-cell *matCellDef="let task">
          <ng-container *ngIf="task.last_ran; else na">{{task.last_ran*1000 | date: 'short'}}</ng-container>
          <ng-template #na><ng-container i18n="N/A">N/A</ng-container></ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="last_confirmed">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="Last confirmed">Last confirmed</mat-header-cell>
        <mat-cell *matCellDef="let task">
          <ng-container *ngIf="task.last_confirmed; else na">{{task.last_confirmed*1000 | date: 'short'}}</ng-container>
          <ng-template #na><ng-container i18n="N/A">N/A</ng-container></ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="Status">Status</mat-header-cell>
        <mat-cell *matCellDef="let task">
          <app-task-status [task]="task"></app-task-status>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef i18n="Actions">Actions</mat-header-cell>
        <mat-cell *matCellDef="let task">
          <app-task-actions [task]="task"
            (run)="runTask(task.key)"
            (confirm)="confirmTask(task.key)"
            (schedule)="scheduleTask(task)"
            (settings)="openTaskSettings(task)"
            (showError)="showError(task)">
          </app-task-actions>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <button mat-stroked-button (click)="openRestoreDBBackupDialog()" style="margin: 10px 0 0 5px;" i18n="Restore DB from backup button">Restore DB from backup</button>
  <button mat-stroked-button (click)="resetTasks()" color="warn" style="margin: 10px 0 0 5px;" i18n="Reset tasks button">Reset tasks</button>
</div>

<div *ngIf="!dataSource?.data || dataSource.data.length === 0">
  <h4 style="text-align: center; margin-top: 10px;" i18n="No tasks label">No tasks available!</h4>
</div>