<h4 mat-dialog-title>
  {{file.title}}
  <div class="favorite-button">
    <button [disabled]="!initialized || retrieving_file || !write_access" mat-icon-button (click)="editing = !editing">
      <mat-icon>edit</mat-icon>
    </button>
    <button [disabled]="!initialized || retrieving_file || !write_access" (click)="toggleFavorite()" mat-icon-button>
      <mat-icon>{{file.favorite ? 'favorite_filled' : 'favorite_outline'}}</mat-icon>
    </button>
  </div>
</h4>

<mat-dialog-content>
  <app-video-info-fields 
    [file]="new_file"
    [uploadDate]="upload_date"
    [category]="category"
    [editing]="editing"
    [initialized]="initialized"
    (dateChanged)="uploadDateChanged($event)"
    (categoryChanged)="categoryChanged($event)">
  </app-video-info-fields>
  
  <app-video-info-display [file]="new_file"></app-video-info-display>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close><ng-container i18n="Close video info button">Close</ng-container></button>
  <button mat-button [disabled]="!metadataChanged()" (click)="saveChanges()"><ng-container i18n="Save video info button">Save</ng-container></button>
</mat-dialog-actions>