<div style="margin-top: 14px;">
  <button class="back-button" (click)="goBack()" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
  <app-subscription-header [subscription]="subscription" [disabled]="downloading" (edit)="editSubscription()"></app-subscription-header>
  <br/>
  <div style="margin-bottom: 100px;" *ngIf="subscription">
    <app-recent-videos [sub_id]="subscription.id"></app-recent-videos>
  </div>
  <app-subscription-actions 
    [isDownloading]="downloading" 
    [checkClicked]="check_clicked" 
    [cancelClicked]="cancel_clicked"
    (check)="checkSubscription()"
    (cancelCheck)="cancelCheckSubscription()"
    (watch)="watchSubscription()"
    (download)="downloadContent()">
  </app-subscription-actions>
</div>