<h4 mat-dialog-title i18n="Subscribe dialog title">Subscribe to playlist or channel</h4>

<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-3">
        <app-subscribe-basic-form [url]="url" [name]="name"></app-subscribe-basic-form>
      </div>
      <div class="col-12">
        <mat-checkbox [(ngModel)]="downloadAll">
          <ng-container i18n="Download all uploads subscription setting">Download all uploads</ng-container>
        </mat-checkbox>
      </div>
      <div class="col-12">
        <span i18n="Download time range prefix">Download videos uploaded in the last</span>
        <div>
          <mat-form-field color="accent" style="width: 100px; text-align: center;">
            <input type="number" matInput [(ngModel)]="timerangeAmount" [disabled]="downloadAll">
          </mat-form-field>
          <mat-form-field class="unit-select">
            <mat-select color="accent" [(ngModel)]="timerangeUnit" [disabled]="downloadAll">
              <mat-option *ngFor="let unit of timeUnits" [value]="unit + (timerangeAmount === 1 ? '' : 's')">
                {{unit + (timerangeAmount === 1 ? '' : 's')}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <app-subscribe-advanced-form 
        [maxQuality]="maxQuality"
        [audioOnlyMode]="audioOnlyMode"
        [customArgs]="customArgs"
        [customFileOutput]="customFileOutput"
        [availableQualities]="availableQualities"
        (openArgsEditor)="openArgsModifierDialog()">
      </app-subscribe-advanced-form>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close><ng-container i18n="Subscribe cancel button">Cancel</ng-container></button>
  <button mat-button [disabled]="!url" type="submit" (click)="subscribeClicked()"><ng-container i18n="Subscribe button">Subscribe</ng-container></button>
  <div class="mat-spinner" *ngIf="subscribing">
    <mat-spinner [diameter]="25"></mat-spinner>
  </div>
</mat-dialog-actions>