
<h4 class="settings-title" i18n="Settings title">Settings</h4>
<mat-tab-group style="height: 76vh" mat-align-tabs="center" [selectedIndex]="tabIndex" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Main" i18n-label="Main settings label">
    <settings-main-tab></settings-main-tab>
  </mat-tab>
  <mat-tab label="Downloader" i18n-label="Downloader settings label">
    <settings-downloader-tab></settings-downloader-tab>
  </mat-tab>
  <mat-tab label="Extra" i18n-label="Extra settings label">
    <settings-extra-tab></settings-extra-tab>
  </mat-tab>
  <mat-tab label="Database" i18n-label="Database settings label">
    <settings-database-tab></settings-database-tab>
  </mat-tab>
  <mat-tab label="Notifications" i18n-label="Notifications settings label">
    <settings-notifications-tab></settings-notifications-tab>
  </mat-tab>
  <mat-tab label="Advanced" i18n-label="Host settings label">
    <settings-advanced-tab></settings-advanced-tab>
  </mat-tab>
  <mat-tab [disabled]="!postsService.config?.Advanced.multi_user_mode">
    <ng-template mat-tab-label>
      <div [matTooltip]="!postsService.config?.Advanced.multi_user_mode ? usersTabDisabledTooltip : null">
        <ng-container i18n="Users settings label">Users</ng-container>
      </div>
    </ng-template>
    <settings-users-tab *ngIf="postsService.config?.Advanced.multi_user_mode"></settings-users-tab>
  </mat-tab>
  <mat-tab *ngIf="postsService.config" label="Logs" i18n-label="Logs settings label">
    <settings-logs-tab></settings-logs-tab>
  </mat-tab>
</mat-tab-group>

<div class="action-buttons">
  <button style="margin-left: 10px; height: 37.3px" color="accent" (click)="saveSettings()" [disabled]="settingsSame()" mat-raised-button><mat-icon>done</mat-icon>&nbsp;&nbsp;
    <ng-container i18n="Settings save button">Save</ng-container>
  </button>
  <button style="margin-left: 10px;" mat-flat-button (click)="cancelSettings()" [disabled]="settingsSame()"><mat-icon>cancel</mat-icon>&nbsp;&nbsp;
    <span i18n="Settings cancel button">Cancel</span>
  </button>
</div>